<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="dbcon" connectionString="server=DESKTOP-G7QOK8K; database=ABC_Car_Traders;trusted_connection=yes;" />
  <add name="ABC_Car_Traders.Properties.Settings.ABC_Car_TradersConnectionString"
   connectionString="Data Source=DESKTOP-G7QOK8K;Initial Catalog=ABC_Car_Traders;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>